body
   {font-family: 'Roboto', sans-serif;}
   .Container{

    width :40%;
    margin: 0 auto;
    }



body
{font-family: 'Roboto', sans-serif;}
.para1{

    width  :40%;
    margin: 0 auto;
}


body
{font-family: 'Roboto', sans-serif;}
.para2{

    width: 40%;
    margin: 0 auto;
}

    
body
.para3{

    width: 40%;
    margin: 0 auto;
} 


body
.para4{

    width: 40%;
    margin: 0 auto;
}


body
.para5{

    width: 40%;
    margin: 0 auto;
}
    


body
.plaatje{
    
    width: 40%;
    margin: 0 auto;
    
   
   
}


body
.Tip{

    width: 40%;
    margin: 0 auto;
}



